* {
    margin: 12;
    padding: 12;
    font-family: sans-serif;
}

body {
    background: #dfdede; 
    padding: 0px;
    margin: 0px;
}
.navbar {
    position: fixed;
    width: 180px;
    background: aqua;
    height: 100%;
    margin: 0px;
}
.nav-item {
    list-style: None;
    margin: 20px 10px;
}
.nav-link {
    text-decoration: None;
    color: black;
    font-size: 1.4rem;
    transition: all 400ms;
}
.nav-link:hover {
    font-size: 1.6rem;
}
h1 {
    width: 100%;
    background: rgb(240, 241, 241);
    color: black;
    margin: 0px;
    padding: 15px 10px;
}
#content {
    margin-left: 220px;
    padding: 30px 20px;
}
.question h3 {
    font-size: 3rem;
}

.shadow {
    box-shadow:  rgb(231, 229, 229);
    margin: 15px;
    padding: 20px;
    width: 75%;
}
