<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eine Super Webseite</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
</head>
<body>
<center><h1 class="shadow">Titel der Webseite</h1></center>
    <ul class="nahrev">
        <li class="nav-item">
            <a class="nav-item" href="/">Home</a>
    <h2>Willkommen!</h2>
    <p>Herzlich willkommen auf dieser super Webseite</p>
    <p>Klicken Sie <a href="/">hier</a> um zur Startseite zu kommen.</p>
        </li>
    </ul>
    <div id="content">
    </div>
</body>
</html>
